{% extends 'layout.html.twig' %}

{% block navbar %}
    {{ navbar('wiki') }}
{% endblock %}

{% block page %}
    <div class="col-md-9">
        {% block content %}{% endblock %}
    </div>
    <div class="col-md-3">
        {% if items|length > 0 %}
            <ul class="nav nav-pills nav-stacked well">
                {% for i in items %}
                    <li{% if item is defined and item.id == i.id %} class="active"{% endif %}>
                        <a href="{{ url('website.wiki.read', {
                            id: i.id,
                            title: i.title|lower|blankToDash
                        }) }}">
                            {{ i.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="alert alert-warning">
                No pages yet
            </p>
        {% endif %}
    </div>
    <div class="clearfix"></div>
{% endblock %}