<hr />

<ul class="nav nav-pills nav-justified well">
    <li>
        <a class="btn btn-social" href="http://www.linkedin.com/pub/michael-caldera/50/932/a69" target="_blank" alt="LinkedIn" title="LinkedIn">
            <span class="fa fa-linkedin fa-4x"></span>
            <h6>LinkedIn</h6>
        </a>
    </li>
    <li>
        <a class="btn btn-social" href="https://github.com/michcald" target="_blank" alt="Github" title="Github">
            <span class="fa fa-github fa-4x"></span>
            <h6>GitHub</h6>
        </a>
    </li>
    <li>
        <a class="btn btn-social" href="https://bitbucket.org/michcald" target="_blank" alt="Bitbucket" title="Bitbucket">
            <span class="fa fa-bitbucket fa-4x"></span>
            <h6>BitBucket</h6>
        </a>
    </li>
</ul>

<hr />

<div class="text-center">
    @{{ 'now'|date('Y') }} Michael Caldera
</div>